{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Baby Yoda</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, quos totam repudiandae et cumque, temporibus error rerum suscipit iste excepturi voluptatum tempora odio quam maxime numquam animi consectetur eaque maiores.</p>
        </div>
</div>

<div class="col-4">
    <img src="assets/img/baby-yoda.png" class="img-thumbnail">
</div>


{{> footer }}